<%- include('./partials/header.ejs')%>
        <main>
            <h1>Boof Bot Info</h1>
            <div class ="intro-text">
                <h2>Developed for GIS tax map searches!</h2>
                <p>Enter a list of Tax Map ID's seperated by only spaces to begin a search for connected property information.</p>
                <p>ID's with no address associated will be ignored. Final results are exported to a .csv file</p>

                
            </div>
        </main>
<%- include('./partials/footer.ejs')%>