<%- include('./partials/header.ejs')%>
        <main>
            <h1>Welcome to Boof-Bot Searches!</h1>
            <div class ="intro-text">
                <h2>Select a county and enter a list of Tax Map ID's to locate property details!</h2>

                <p>Click about to see how to use the bot</p>
                <p>Or</p>
                <p>Start a New Search to begin the process</p>
            </div>
        </main>
<%- include('./partials/footer.ejs')%>