
header img {
    float: left;
    width: 200px;
    height: 100px;
  }
  
  header ul {
      list-style-type: none;
      margin: 0;
      padding: 30px;
      overflow: hidden;
      background-color: #333;
  }
  
  header li {
      float: right;
  }
  
  header li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  header li a:hover {
      background-color: #111;
  }
  
  ul.general-menu {
      padding: 0;
  }
  
  li.general-menu {
      float: left;
  }
  
  footer {
      padding: 5px 20px;
      background: #333;
      color: white;
  }
  
  
  
  